body {
    font-family: monospace, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.api-info {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

.api-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.api-info p {
    margin: 5px 0;
    color: #555;
}

.api-info h3:last-child {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}

.api-info code {
    display: block;
    width: auto;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
    font-family: monospace;
}

